html{
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
.title{
    display: flex;
    justify-content: center;
}
.wrapper{
    display: flex;
    width: 100%;
}
.rightbar{
    width: 25%;
}
.leftbar{
    width: 25%;
}
.main{
    width: 50%;
}